{% extends "home/base.jinja" %}
{% block addtohead %}
{% endblock addtohead %}
{% block maincontent %}
<div class="row ets-lightest-green">
    <div id="serviceContent" class="col-sm-9 offset-md-1">
        <h2 class="justify-content-center">Services Offered</h2>
        <p>
            The focus of Edema Therapy Solutions is compression therapy. 
            Compression is provided in a variety of levels and styles. 
            Types of compression include, Tubigrip, compression stockings, Velcro compression wraps, and short stretch bandaging.
        </p>

        <h3>Other Services included:</h3>
            <ul>
                <li>Manual Lymphatic Drainage (MLD)</li>
                <li>Skin Care</li>
                <li>Exercises</li>
                <li>Testing for and assistance obtaining an intermittent pneumatic compression pump</li>'
            </ul>

        <h3>Conditions Treated:</h3>
            <ul>
                <li>Post Operative Swelling</li>
                <li>Venous Insufficiency</li>
                <li>Phlebolymphedema</li>
                <li>Lymphedema</li>
                <li>Lipedema</li>
                <li>Lower extremity edema caused by Cardiac, Kidney, and liver disorders (with a referral from specialist treating the condition)</li>
                <li>Pregnancy</li>
            </ul>

        <h3>Provider with the following Insurances:</h3>
        <p>
            Medicare<br>
            Regence<br>
            Western Rehab Health Network (including Aetna)<br>
            IPN<br>
            Cigna<br>
            Pacific Source<br>
            St. Luke's <br>
            Mountain Health Coop<br>
            Select Health Commercial and MA<br>
            First Choice Health Network<br>
            Blue Cross Blue Shield<br>
            Idaho Medicaid EFF<br>
            First Choice of the Midwest EFF<br><br>
            Many insurance companies are require a referral from you doctor before reimbursing for physical therapy. Please review your insurance benefits to ensure eligibility.  Cash rates available for uninsured.
        </p>
    </div>
</div>
{% endblock maincontent %}