{% extends "home/base.jinja" %}
{% block addtohead %}
{% endblock addtohead %}
{% block maincontent %}
<div class="row ets-lightest-green">
    <div id="educationNav" class="col-sm-2">
        <nav class="nav flex-column">
            <a class="ets-nav nav-link active" href="#">Education</a>
            <a class="ets-nav nav-link" href="#">Medication</a>
            <a class="ets-nav nav-link" href="#">Exercises</a>
            <a class="ets-nav nav-link" href="#">Diet</a>
            <a class="ets-nav nav-link" href="#">Life Style</a>
        </nav>
    </div>
    <div id="educationContent" class="col-sm-9">
        <h2 class="justify-content-center">Education</h2>
        <h3>What is the Lymphatic system?</h3>
        <p>
            The lymphatic system is a network of lymph nodes and lymphatic vessels. 
            Its primary function is to transport and filter lymph fluid throughout the body. 
            This fluid contains mostly water and protein.  
            The lymph nodes act as tiny filters, straining out foreign organisms and cells. 
            The lymphatic system also is involved in making white blood cells called lymphocytes that help protect you against various infections caused by bacteria and viruses.  
            Lymph is formed from fluid that seeps through the thin walls of capillaries into the body's tissues.  
            The lymph capillaries and vessels pick up the lymph fluid and start pumping it away from the cells. 
            Lymph vessels do not have an active pump like the heart. 
            Instead, lymph vessels have one-way valves, and muscle motion pumps the lymph. 
        </p>

        <h3>What causes Lymphedema?</h3>
            <p>
                Lymphedema is may occur when regional lymph nodes are damaged or removed due to surgery, radiation or injury.  
                It can also arise if there is a congenital deformity within the lymphatic system. 
                The result is an abnormal accumulation of fluid in the surrounding tissue. 
                Lymphedema can be manifested in two ways:
            </p>
            <ul>
                <li>Primary lymphedema is a rare inherited condition in which lymph nodes and lymph vessels are absent or abnormal. It typically affects just the legs and is more common in women than men. This condition can be present at birth, develop during puberty, or after age 35. It is estimated that one in 6000 people is born with insufficiency of the lymphatic system.</li>
                <li>Secondary lymphedema can be caused by a blockage or cut in the lymphatic system, usually the lymph nodes in the groin area or the armpit. Blockages may be caused by infection, cancer, scar tissue from radiation therapy, or the surgical removal of lymph nodes. Surgeries for the treatment of breast, uterine/cervical, melanoma, prostate, and throat/mouth cancers may lead to the incidence of lymphedema.</li>
                <li>Having lymph nodes removed or damaged with radiation due to cancer is the most common cause of lymphedema in the United Stated and other developed countries. The most common types of cancer associated with lymphedema are breast (arm lymphedema), gynecological cancers including cervical, uterine, ovarian, vulvar (leg lymphedema), prostate and other urological cancers (leg lymphedema), melanoma (arm or leg lymphedema) and other skin cancers. Radiation damages the small lymphatic vessels and can lead to lymphedema where the lymph nodes have been removed.</li>
                <li>Trauma or surgery: Both trauma and surgery can injure lymph vessels and lead to lymphedema.</li>
                <li>Obesity: Extreme obesity can cause lymphedema. However, several studies have shown that any degree of obesity increases the risk of lymphedema in cancer survivors.</li>
                <li>Parasites in underdeveloped countries: A parasitic worm called, filaria, can cause lymphedema in infected patients. This is the most common cause of lymphedema in the world.</li>
            </ul>

        <h3>Conditions Treated:</h3>
            <ul>
                <li>Post Operative Swelling</li>
                <li>Venous Insufficiency</li>
                <li>Phlebolymphedema</li>
                <li>Lymphedema</li>
                <li>Lipedema</li>
                <li>Lower extremity edema caused by Cardiac, Kidney, and liver disorders (with a referral from specialist treating the condition)</li>
                <li>Pregnancy</li>
            </ul>

        <h3>Provider with the following Insurances:</h3>
        <p>
            Medicare<br>
            Regence<br>
            Western Rehab Health Network (including Aetna)<br>
            IPN<br>
            Cigna<br>
            Pacific Source<br>
            St. Luke's <br>
            Mountain Health Coop<br>
            Select Health Commercial and MA<br>
            First Choice Health Network<br>
            Blue Cross Blue Shield<br>
            Idaho Medicaid EFF<br>
            First Choice of the Midwest EFF<br><br>
            Many insurance companies are require a referral from you doctor before reimbursing for physical therapy. Please review your insurance benefits to ensure eligibility.  Cash rates available for uninsured.
        </p>
    </div>
</div>
{% endblock maincontent %}